.message {
  width: 100%;
  display: flex;
  /* justify-content: end; */
}
.message_wrapper {
  background: #222831;
  border-radius: 0.5rem;
  padding: 5px 5px 1px 5px;
  width: fit-content;
  max-width: 47%;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}
.message_wrapper .text {
  font-size: 1.4rem;
  margin-top: -5px;
  margin-bottom: -3px;
  max-width: 100%;
  word-wrap: break-word;
}
.message_wrapper .message_time {
  font-size: 0.6rem;
  font-weight: 100;
}
.img {
  border-radius: 1rem;
}
