.search_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_field {
  width: calc(100% - 40px);
  margin: 1.1rem;
  border-style: none;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  outline: none !important;
  background-color: rgba(0, 0, 0, 0.29);
  transition: 200ms;
}
.search_field:focus {
  width: calc(100% - 40px);
  margin: 1.1rem;
  transition: all;
  box-shadow: 0 0 6px #719ece;
  border-style: solid;
  border-color: var(--blue-primary) !important;
  outline: none !important;
  border-style: none;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.29);
}
.contacts_menu {
  height: 100%;
  width: 100%;
}
