:root {
  /* align-items: center; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --gray-primary: #393e46;
  --gray-secondary: #222831;
  --blue-primary: #00a8cc;
  --blue-primary-hover: #008eae;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--gray-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray-secondary);
  border-radius: 5px;
}
